@mixin generate-variables {
    --v-content-placeholder--background-color                      : var(--md-grey-50);
    --v-content-placeholder--appmanifest-shortcuts-background-color: var(--md-grey-200);
    --v-content-placeholder--appmanifest-shortcuts-width           : 30px;
    --v-content-placeholder--appmanifest-shortcuts-height          : 30px;
    --v-content-placeholder--appmanifest-shortcuts-actived-color   : var(--md-indigo-700);
    --v-content-placeholder--left-side-min-width                   : 50px;
    --v-content-placeholder--left-side-background-color            : var(--md-grey-100);
}

@mixin generate-class {
    .v-content-placeholder {
        background-color: var(--v-content-placeholder--background-color);

        >div {
            height : percentage($number: 1);
            padding: 10px;
        }

        >div[data-role=appmanifest-shortcuts] {
            width           : 50px;
            background-color: var(--v-content-placeholder--appmanifest-shortcuts-background-color);
            padding         : 10px 5px;

            >div>div {
                img[data-role=short-cut] {
                    width  : var(--v-content-placeholder--appmanifest-shortcuts-width);
                    height : var(--v-content-placeholder--appmanifest-shortcuts-height);
                    height : auto;
                    cursor : pointer;
                    display: block;
                }
            }

            >div>div[data-role-actived=true] {
                border-left: 3px solid var(--v-content-placeholder--appmanifest-shortcuts-actived-color);
            }
        }

        >div[data-role=left-side] {
            min-width       : var(--v-content-placeholder--left-side-min-width);
            background-color: var(--v-content-placeholder--left-side-background-color);
        }

        >div[data-role=content] {
            flex: 1;
        }
    }
}