@mixin generate-variables {
    --v-control-panel--background-color: var(--md-indigo-900);
}

@mixin generate-class {
    .v-control-panel {
        background-color: var(--v-control-panel--background-color);

        >div {
            display: block;
            width  : percentage($number: 1);
        }

        >div[data-role="header-placeholder"] {
            padding: 5px 15px;
        }

        >div[data-role="content-placeholder"] {
            flex: 1;
        }

        >div[data-role="footer-placeholder"] {
            padding: 5px 15px;
        }
    }
}