@mixin generate-variables {
    --v-top-banner--background-color: transparent;
    --v-top-banner-logo--height     : 40px;
    --v-top-banner-logo--text-color : var(--md-grey-50);
    --v-top-banner-logo--text-size  : 20px;
}

@mixin generate-class {
    .v-top-banner {
        background-color: var(--v-top-banner--background-color);

        >div[data-role="topbanner-logo"] {
            width: auto !important;

            >img {
                height : var(--v-top-banner-logo--height);
                width  : auto;
                cursor : pointer;
                display: block;
            }

            >span {
                color       : var(--v-top-banner-logo--text-color);
                padding-left: 10px;

                font: {
                    size  : var(--v-top-banner-logo--text-size);
                    weight: bolder;
                }
            }
        }

        >div[data-role="topbanner-right-container"] {
            min-height: 40px;
            flex      : 1;
        }
    }
}