@use "material-colors/dist/colors.scss" as *;

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': $md-indigo-700,
    ),
    'success': (
      'base': $md-blue-700,
    ),
    'warning': (
      'base': $md-orange-700,
    ),
    'danger': (
      'base': $md-red-700,
    ),
    'error': (
      'base': $md-red-900,
    ),
    'info': (
      'base': $md-grey-700,
    ),
  ),
  $text-color: (
    'primary': $md-grey-900,
    'regular': $md-grey-800,
    'secondary': $md-grey-700,
    'placeholder': $md-grey-400,
    'disabled': $md-grey-500,
  ),
  $border-radius: (
    'base': 2px,
    'small': 2px,
    'round': 20px,
    'circle': 100%,
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;